.admin-dashboard nav {
    width: 4rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #4a90e2;
    padding: 1.5rem 0;
}

.admin-dashboard nav.collapsed {
    width: 8rem;
}

.admin-dashboard nav .tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.admin-dashboard nav button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.admin-dashboard nav .tabs button {
    width: 100%;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-dashboard nav .tabs button:hover {
    color: #affcd2;
}

.admin-dashboard nav .tabs button.active {
    color: #28fc87;
}

.admin-dashboard nav button.logout:hover {
    color: rgb(231, 32, 32);
}