.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.register form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register form .input-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 1rem;
}

.register form .input-group label {
    color: #333;
    font-size: 1rem;
}

.register form .input-group.last {
    margin-bottom: 0.5rem;
}

.register form input {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.register form .actions .error {
    display: block;
}

.register form .actions .error.hidden {
    display: none;
}

.register form .actions .error p {
    color: red;
    font-size: 0.875rem;
    text-align: center;
    font-weight: bold;
}

.register form .actions a {
    font-size: 0.9rem;
}

.register form .actions .button {
    margin-top: 5px;
}

.register form .actions p {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

.register form .actions .login-link {
    margin-top: 1rem;
}