.home header {
    width: 100%;
    height: 4rem;
    background-color: #4a90e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 1rem;
}

.home header h2 {
    color: white;
    user-select: none;
}

.home header ul {
    justify-self: center;
    list-style: none;
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.home header ul li a {
    color: white;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 1rem;
    font-weight: bold;
}

.home header ul li a:hover {
    color: #affcd2;
}

.home header ul li.dashboard a {
    background-color: #e24a4a;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
}

.home header ul li.dashboard a:hover {
    background-color: #e03535;
    color: white;
}

.home header .button {
    width: auto;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.home header .user .user-info {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.home header .user .user-info p {
    color: white;
    font-weight: bold;
}

.home header .user .user-info p span {
    color: #affcd2;
}

.home header .user .user-info .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 24px;
}

.home header .user .user-info .icons i {
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}

.home header .user .user-info .icons i:hover {
    color: #affcd2;
}

.home .count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #affcd2;
    color: #e24a4a;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.home #notification-count {
    top: -6px;
}

.home #cart-count, .home #notification-count {
    color: blue;
}

.home .count-wrapper {
    position: relative;
}

.home main .carousel-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.home main .content .textual {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color:#4a90e2;
    color: white;
}
